@media (max-width:1440px){
    .container{
       width: 90%;
    }
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
        .package-text p {
            margin: 20px 72px 30px 21px;
        }

        .package-block {
            margin: 10px 30px;
        }

        .formats {
            justify-content: center;
        }

        .geography-one h1 {
            text-align: center;
        }

        .geography-two h2 {
            text-align: center;
        }

        .package-block-one {
            justify-content: center;
        }
    }
@media (max-width: 912px) {
    .travel-two img {
        height: 315px;
    }
    .travels {
        width: 454px;
        height: 315px;
    }
    .travel-one p {
        margin: 0 0 10px 10px;
    }
    .travels button {
        font-size: 16px;
        padding: 6px 90px;
        margin: 0 0 0 80px;
    }
    .remain-text select {
        width: 526px;
    }
    .package-text p {
        margin: 18px 72px 30px -18px;
    }
    .remain-one {
        margin-top: -74px;
    }
}
@media (max-width: 800px) {
    .travels {
        width: 389px;
        height: 315px;
    }

    .travels p {
        margin: 10px 0 19px 3px
    }

    .package-text p {
        width: 765px;
    }

    .choose-two input {
        width: 464px;
    }
    .remain-text select {
        width: 439px;
    }
    .block {
        margin: 30px 75px;
    }
}
@media (max-width: 820px) {

}
@media (max-width: 768px) {
    .travels {
        width: 360px;
    }
    .travels p {
        width: 319px;
        margin: 10px 0 17px 40px;
    }
    .travels h1 {
        padding: 19px 0 0 40px;
    }
    .block {
        margin: 30px 68px;
    }
    .package-text p {
        width: 722px;
    }
    .choose-two input {
        width: 503px;
        height: 51px;
    }
    .choose-one h1 {
        font-size: 31px;
    }
    .remain-text select {
        width: 415px;
    }
}
@media (max-width: 600px) {
    .mission-nav {
        flex-wrap: wrap;
    }
    .travel-two {
        flex-wrap: wrap;
    }
    .travels {
        width: 500px;
        height: 350px;
        border-radius: 0 0 0 0;
    }
    .travel-two img {
        margin: 20px 0;
        border-radius: 0 0 0 0;
    }
    .package-text p {
        width: 568px;
    }
    .choose-two input {
        width: 367px;
        height: 43px;
    }
    .choose-one h1 {
        font-size: 28px;
    }
    .remain {
        justify-content: center;
    }
    .remain-text select {
        width: 290px;
    }
}
@media (max-width: 448px) {
    .header-nav a {
        display: none;
    }
    .club-nav p {
        width: 370px;
    }

    .header-nav a {
        margin: 0 9px;
    }

    .mission-one p {
        width: 220px;
        margin: 50px 109px;
    }

    .mission-nav {
        flex-wrap: wrap;
    }

    .formats-block {
        width: 340px;
    }

    .block-two h1 {
        font-size: 15px;
        margin: 5px 0 10px 30px;
    }
    .block-btn button {
        margin-left: -109px;
    }
    .travel-two img {
        height: 285px;
        margin: 10px 0;
    }
    .travels p {
        width: 309px;
        margin: 10px 0 13px 40px;
    }
    .travels {
        width: 340px;
        height: 376px;
        border-radius: 0 0 0 0;
    }
    .travels button {
        margin: 0 0 0 42px;
    }
    .geography-two h2 {
        font-size: 50px;
    }
    .process-text h1{
        font-size: 45px;
    }
    .package-text p {
        width: 360px;
    }
    .choose {
        flex-wrap: wrap;
    }
    .choose-one h1 {
        font-size: 27px;
    }
    .choose-two input {
        width: 339px;
        height: 50px;
    }
    .remain-text {
        margin-left: -10px;
    }
    .remain-text select {
        width: 350px;
    }
}
@media (max-width: 436px) {
    .header-nav a {
        display: none;
    }

    .remain-text p {
        font-size: 11px;
    }

    .geography-one h1 {
        font-size: 2px;
    }
}
@media (max-width: 375px) {
    .geography-one h1 {
        font-size: 24px;
    }

    .geography-two h2 {
        font-size: 39px;
    }

    .geography-two h3 {
        font-size: 23px;
    }

    .geography-two h4 {
        font-size: 19px;
    }

    .header-nav img {
        display: none;
    }

    .header_btn button {
        margin: 0 100px;
    }

    .header-one {
        margin: 0 100px;
    }

    .club-nav h1 {
        font-size: 23px;
        text-align: center;
    }

    .club-nav p {
        width: 338px;
        text-align: center;
        font-size: 16px;
    }

    .club-nav button {
        font-size: 13px;
        margin: 16px 86px;
    }

    .club-icon h1 {
        font-size: 14px;
        margin: 0 0 0 101px;
    }

    .club-h1 h1 {
        font-size: 26px;
        margin: 0 0 20px 53px;
    }

    .mission-nav {
        width: 90%;
    }

    .formats-block {
        width: 287px;
    }

    .block-btn ion-icon {
        display: none;
    }

    .block-btn button {
        font-size: 10px;
    }

    .joint h1 {
        font-size: 27px;
    }

    .travels {
        width: 273px;
    }

    .travels p {
        width: 235px;
    }

    .travel-one p {
        font-size: 7px;
    }

    .travels button {
        font-size: 14px;
        padding: 6px 66px;
    }

    .travel-two img {
        width: 270px;
        border-radius: 0 0 0 0;
    }

    .geography-two h3 {
        font-size: 23px;
    }

    .process-text h1 {
        font-size: 33px;
    }

    .package-text h1 {
        font-size: 27px;
    }
    .package-text p {
        width: 243px;
        margin: 18px 72px 30px 38px;
    }
    .choose-two input {
        width: 274px;
        height: 35px;
    }
    .choose-btn button {
        font-size: 12px;
        padding: 10px 34px;
    }
    .remain-text select {
        width: 312px;
    }
    .remain-text p {
        width: 312px;
    }
    .footer {
        justify-content: center;
    }
    .visa-one p {
        display: none;
    }
    #kaizen_club {
        width: 90%;
    }
    #header {
        width: 90%;
    }
    #footer{
        width: 90%;
    }
}